div.bloc-container.css-1y4p8pa.egzxvld4 {
    background-color: #aaaaaa;
}
div.css-1kyxreq.etr89bj2 {
    background-size: cover;
}
span.css-10trblm.e16nr0p30 {
    background-color: #111111;
}
section.main.css-uf99v8.egzxv1d5 {
    background-color: #111111;
    padding: 20px 20px 20px 70px;
    padding: 5% 5% 5% 10%;
}